.MovieDetailsRender {
    background-repeat: no-repeat; /*  Do not repeat the image */
    background-position: center;  /* Center the image */
    background-size: cover; /*  Resize the background image to cover the entire container */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
  
  .MovieDetailsRender::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: -1;
  }
  
  .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: -1; /* set z-index to -1 to move the shadow behind all other elements */
    pointer-events: none; /* prevent the shadow from capturing mouse events */
  }
  
  .button-container {
    padding: 30px;
  }
  
  .movieAndInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title-and-rating {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }
  
  .movieImage img {
    border: 5px solid #fff;
    overflow: clip;
  }
  
  .MovieTextBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    max-width: 400px;
  }
  
  .movieInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  p {
    font-size: 17px;
  }
  
  h1,
  p {
    color: white;
    text-shadow: 1px 1px #4d4d4d;
  }
  
  h1 {
    font-size: 25px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 25px;
  }
  
  span {
    background-color: white;
  }
  
  .backButton {
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 700;
    border: 5px white;
    padding: 8px 15px;
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .backButton:hover {
    transform: scale(1.2);
    opacity: 1;
  }
  
  /* MEDIA QUERY FOR TABLET*/
  @media (min-width: 668px){
    .movieAndInfo {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 10%;
    }

  }
  
   /* MEDIA QUERY FOR DESKTIO*/
   @media (min-width: 1024px){
    .movieAndInfo {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 5%;
    }
 
  }
  